<%- include("partials/header.ejs") %>
<div class="px-2 py-5 d-flex flex-wrap justify-content-md-center">
<h1 class="me-auto mx-5 px-1">Explore Categories</h1>
</div>
<div class="mx-5 px-3 pb-4 d-flex flex-wrap">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
  </ol>
</nav>
</div>

 
  <section class="cards">
    <div class="row row-cols-2 row-cols-lg-5 mx-5">
      <% if (items !== '') { %>
      <% items.forEach(element => { %>
      <div class="col food py-3">
        <a href="/categories/<%= element.name %>" class="food-card"><div class="card">
          <img src="\images\<%= element.image%>" class="card-img-top img-size" alt="<%= element.name %>">
          <div class="card-body">
            <h5 class="card-title text-center design"><%= element.name%></h5>
          </div>
        </div></a>
      </div>
      <% }) %>
      <% } %>
    </div>
    </section>
</body>
</html>